[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
bcrypt = "*"

[dev-packages]
yamllint = "*"
ansible-lint = "*"

[requires]
python_version = "3.13"
